.team {
  margin: 50px 0;
}

.team h1 {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  margin: 2rem;
  color: #000;
}
.team p {
  font-size: 12px;
  margin-bottom: 8px;
  color: #ebe7db;
}

.team h5 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 8px;
  color: #fff;
}
.team p {
  font-size: 12px;
  margin-bottom: 8px;
}
.team a {
  color: #ebe7db;
}
.team p {
  font-size: 12px;
  margin-bottom: 8px;
}
.team a {
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  margin: 10px 0;
}
.team a:hover {
  color: red;
  text-decoration: underline solid red;
  transition: 0.7s;
}
.team-cards {
  display: flex;
  width: 90%;
  gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px auto;
}

.team-card {
  background-color: #21284e;
  width: 15%;
  padding: 25px 40px;
  border-radius: 20px;
  text-align: center;
  /* border: 2px solid white;  */
  /* box-shadow: 15px 15px 10px #70c9d3;   */
}

.team-card:hover {
  transform: scale3d(1.05, 1.05, 1.05);
  box-shadow: 0 0 10px #999, 0 0 20px #999, 0 0 40px #999;
  transition: 0.3s;
}

@media (max-width: 900px) {
  .team h1 {
    font-size: 28px;
  }
  .team-cards {
    display: flex;
    width: 95%;
    column-gap: 0;
    row-gap: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px auto;
  }
  .team-card {
    background-color: #21284e;
    width: 45%;
    margin: 1rem 0.5rem;
    padding: 1.5rem;
    border-radius: 40px;
    text-align: center;
  }
  .team-card img {
    width: 45%;
  }
  .team h5 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 8px;
    color: #ebe7db;
  }
  .team p {
    font-size: 10px;
    margin-bottom: 8px;
  }
  .team a {
    font-size: 12px;
    text-decoration: none;
    color: #ebe7db;
    margin: 7px 0;
  }

  .team-card:hover {
    transform: scale3d(1.05, 1.05, 1.05);
    box-shadow: 0 0 10px #999, 0 0 20px #999, 0 0 40px #999;
    transition: 0.3s;
  }
}

@media (max-width: 400px) {
  .team-cards {
    display: block;
    width: 95%;
    column-gap: 0;
    row-gap: 10px;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px auto;
  }

  .team-card {
    background-color: #21284e;
    width: 90%;
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 40px;
    text-align: center;
  }

  .team-card:hover {
    transform: scale3d(1.05, 1.05, 1.05);
    box-shadow: 0 0 10px #999, 0 0 20px #999, 0 0 40px #999;
    transition: 0.3s;
  }
}

/* footer */

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #fff;
  background-color: #2f2f2f;
  border-top: 1px solid #2f2f2f;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}
.footer__logo h1 {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  color: #fff;
  font-size: 1.5rem;
  
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  color: #fff;
  font-size: 1.5rem;
  
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #fff;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: #fff;
  border-radius: 100px;
  
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}
